$headings-font-family: "Times New Roman", Times, serif;
$font-family-base: Verdana, Arial, Helvetica, sans-serif;
$primary:       #22A1ED;
$dark:          #04040C;
$headings-color: #284876;
$card-bg: #f1fcff;